/* Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 0.5rem; /* Set the width of the scrollbar to zero */
  }
  .scrollable-container {
    scrollbar-width: none;
  }
  
.no-border {
    border: none;
    outline: none; /* This removes the outline as well when the input is focused */
  }
  .logout-button-blur {
    backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the background color and opacity as needed */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }


  